{% extends "base.html" %}

{% block mhe %}
<div class="parallax-container valign-wrapper">

        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Mikael Hernrup</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Developer. Engineer. Nature buff. Geek</h5>
                </div>
                <br />
            </div>
        </div>
        <div class="parallax"><img src="theme/images/background3.jpg" alt="Unsplashed background img 1"></div>
    </div>
{% endblock %}

{% block mhy %}
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-3">My Hernrup</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Painter. IT-consultant. Engineer. Nature buff. Geek</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="theme/images/bg_my.jpg" alt="Unsplashed background img 2"></div>
    </div>

{% endblock %}


{% block content %}
    {% for category, articles in categories %}
        {% if category=='mhe' %}
            {{ self.mhe() }}
        {% endif %}
        {% if category=='mhy' %}
            {{ self.mhy() }}
        {% endif %}

        <div class="container">
            <div class="section">

              <!--   Icon Section   -->
              <div class="row">
                  {% for article in articles|sort(attribute='order') %}
                  <div class="col s12 m4">
                      <div class="icon-block">
                          <h2 class="center brown-text"><i class="fa {{ article.fa_icon}}"></i></h2>
                          <h5 class="center"><a href="{{ article.link }}">{{ article.title }}</a></h5>

                          <p class="light">{{ article.content }}</p>

                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>

    {% endfor %}
{% endblock %}
